
.table_shared {margin-top: 5px; width: 40%;}
.book_catalog {width: 120px; margin-top: 20px;}
.book_catalog a {padding: 15px;}
.book_description .autor {font-size: 22px;}
.qrcode_img {padding-bottom: 5px;}
.metadata a {color: #999;}